header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    background-color: cornflowerblue;
    margin:0;
    flex-wrap: nowrap;
    border-radius: 10px;
    position: sticky;
    top: 0;
    z-index: 2;
    border: 1px solid #646fed;
}
menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 95%;
    font-size: large;
    list-style: none;
    gap: 1px;
    flex-wrap: nowrap;
}
menu li a.language:hover{
    background-color: cornflowerblue;
}
menu li a{
    color:white;
    text-decoration: none;
    padding: 20px 25%;
    border-radius: 10px;
    font-size: large;
}
menu li a:hover{
    background-color: #646fed;
}
menu .language a{
    text-decoration: none;
    color: white;
}
menu li {
    width: 25%;
    text-align: center;
    text-decoration: none;
    color:white;
    border-radius: 5px;
}
header img{
    height:98%;
    border:1px solid cornflowerblue;
    border-radius: 10px;
}
body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    position: relative;
}
textarea{
    resize: none;
    width: 60%;
    height: 12vh;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    gap: 5px;
}
input{
    padding: 10px;
    width: 60%;
    border-radius: 5px;
    border: 1px solid lightgray;
}
.submit{
    background-color: cornflowerblue;
    border: none;
    color: white;
    font-size: x-large;
    width: 60%;
}
.submit:hover{
    background-color: #646fed;
    padding: 15px;
    width: 64%;
}
.opinion{
    background-color: lightgray;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
    width: 100%;
    margin-top: 5px;
}
.opinion h3{
    text-align: center;
    font-style: italic;
    font-weight: normal;
}
.opinion p{
    background-color: cornflowerblue;
    padding: 20px;
    color: white;
    border-radius: 10px;
}
#opinion{
    width: 80%;
}
#call{
    background-image: url("https://thumbs.dreamstime.com/b/u%C3%A5%E2%80%BAmiechni%C3%A4%E2%84%A2ci-fachowi-lider-biznesu-i-pracownik-grupa-zespalaj%C3%A4%E2%80%A6-si%C3%A4%E2%84%A2-portret-biznesowi-trener%C3%A3%C2%B3w-lider%C3%A3%C2%B3w-mentory-pozuje-wraz-z-141681202.jpg");
    background-size: cover;
    width: 80%;
    height: 50vh;
    border-radius: 10px;
    position: relative;
    margin-top: 10px;
}
#call a{
    float: right;
    position: absolute;
    text-align: center;
    text-decoration: none;
    right: 0;
    bottom: 5%;
    background-color: rgba(100, 149, 237, 0.68);
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: x-large;
    width: 60%;
    border: 1px #646fed solid;
}
#call a:hover{
    background-color: rgba(100, 149, 237, 0.9);
    padding: 15px;
}
#call img{
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 10px;
    width: 100px;
}
#about{
    display: grid;
    font-size: larger;
    background-color: cornflowerblue;
    grid-template-areas:
        'main values mission'
        'main values vision';
    color: whitesmoke;
    gap: 5px;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
}
#about .main{
    grid-area: main;
}
#about .vision{
    grid-area: vision;
}
#about .mission{
    grid-area: mission;
}
#about .values{
    grid-area: values;
    text-align: left;
}
#about div{
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.24);
    border-radius: 10px;
    text-align: center;
}
#about div:hover{
    background-color: rgba(128, 128, 128, 0.35);
}
#about div h3{
    text-align: center;
}
.specialopinion{
    background-color: cornflowerblue;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
    width: 95%;
    margin-top: 5px;
    height: 20%;
    display: grid;
    grid-template-areas:
    'img content content'
    'img name name';
    gap:5px;
    justify-content: center;
    align-items: center;
}
.specialopinion img{
    grid-area: img;
    width: 10vw;
    border-radius: 10px;

}
.specialopinion h3{
    grid-area: name;
    color: whitesmoke;
    text-align: center;
    font-style: italic;
    font-weight: normal;
}
.specialopinion p{
    grid-area: content;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.24);
    color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
}
.specialopinion p:hover{
    background-color: rgba(128, 128, 128, 0.35);
}
.opinions{
    margin-left: 10%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.opinions a{
    float: left;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
}
#opinion a{
    float: left;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    background-color: cornflowerblue;
    color: whitesmoke;
}
#opinion a:hover{
    background-color: #646fed;
}
#gallery{
    display: grid;
    grid-template: '1fr 1fr 1fr';
    gap: 5px;
    color: whitesmoke;
    width: 85%;

}
#gallery .product {
    background-color: cornflowerblue;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}
#gallery .product img{
    height: 100px;
    border-radius: 10px;
}
h2{
    color: whitesmoke;
    background-color: dodgerblue;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    text-align: center;
}
.op{
    width: 60%;
}
.opinions form{
    width: 80%;
}
#contact{
    width: 60%;
}
footer a img{
    width: 45px;
    border-radius: 50%;
}
footer a img:hover{
    width: 47px;
}
footer{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cornflowerblue;
    color: whitesmoke;
    font-size: x-large;
    padding: 20px;
    text-align: center;
}
footer .links{
    display: grid;
    grid-template: '1fr 1fr' '1fr 1fr';
    gap: 5px;
}