header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    background-color: cornflowerblue;
    margin:0;
    flex-wrap: nowrap;
}
menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 95%;
    font-size: large;
    list-style: none;
    gap: 1px;
    flex-wrap: nowrap;
}
menu li a.language:hover{
    background-color: cornflowerblue;
}
menu li a{
    color:white;
    text-decoration: none;
    padding: 20px 25%;
    border-radius: 10px;
}
menu li a:hover{
    background-color: #646fed;
}
menu .language a{
    text-decoration: none;
    color: white;
}
menu li {
    width: 25%;
    text-align: center;
    text-decoration: none;
    color:white;
    border-radius: 5px;
}
header img{
    height:98%;
    border:1px solid cornflowerblue;
}
body{
    font-family: sans-serif;
}
textarea{
    resize: none;
    width: 80%;
    height: 20vh;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    gap: 5px;
}
input{
    padding: 10px;
    width: 60%;
    border-radius: 5px;
    border: 1px solid lightgray;
}
.submit{
    background-color: cornflowerblue;
    border: none;
    color: white;
    font-size: x-large;
    width: 60%;
}
.submit:hover{
    background-color: #646fed;
    width: 64%;
}
.opinion{
    background-color: lightgray;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
    width: 50%;
    margin-left: 25%;
}
.opinion h3{
    text-align: center;
    font-style: italic;
    font-weight: normal;
}
.opinion p{
    background-color: cornflowerblue;
    padding: 20px;
    color: white;
    border-radius: 10px;
}